.container {
    max-width: 900px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.block-title {
    font-weight: 500;
}

.base-info-block, .framework-block, .hobbies-block, .btn-block{
    display: flex;
    justify-content: space-between;
}

.framework-block {
    height: 80px;
}

.block-input {
    width: 420px;
}

.btn-block {
    margin-bottom: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

button {
    width:100px;
}


